# Environment variables
.env
.env.local
.env*.local

# Node
*/node_modules/
node_modules/

# Next.js
*/.next/
.next/

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store

# Logs
*.log

# Build
dist/
build/

